.room{
    background-color: $light-gray;
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: auto auto 1fr;
    grid-gap: 7px;
    height: calc( 100vh - 60px );
    
    @media screen and (max-width:840px) {
    grid-template-columns: 1fr;       
    }
}

.nav-room{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: 1/1/1/3;
    padding: 5px;

    @media screen and (max-width:840px) {
        grid-area: 1/1/1/1;

    }
}
.room-title{
    text-align: start;
}
.room-details{
    display: flex;
    align-items: center;

}

.room-icon{
    display: flex;
    align-items: center;

}
.icon-img{
    width: 25px;
    height: 25px;
    margin-left: 10px;
    transition: all .2s;
    cursor: pointer;
}

.icon-count{
   color: $off-white;
    margin-left: 5px;
}

.room-genre{
    width: 100px;
    height: 25px;
}
.room-name{
    font-family: roboto-thin;
    color: $off-white;
}
.room-creator{
    font-family: roboto-regular;
    color: $off-white;
    cursor: pointer;
    

}

.room-creator-hover:hover{
    transition: all .3s;
    color: $lime-green
}
.unlike {
    transform: rotate(180deg)
}

.font-awesome {
    color: $lime-green;
}