 /* @font-face {
     font-family: 'roboto-regular';
     src: url(Roboto-Regular.ttf) format('truetype');
 }

 @font-face {
     font-family: 'roboto-medium';
     src: url(Roboto-Medium.ttf) format('truetype');
 } */

@font-face {
    font-family: 'roboto-bold';
    src: url('Roboto-Bold.ttf');
}

/* @font-face {
     font-family: 'roboto-thin';
     src: url(Roboto-Thin.ttf) format('truetype');
 } */

 /* @include font-face(roboto-regular, Roboto-Regular) */