.tag-genre {
    background-color: $lime-green;
    font-family: 'roboto-bold';
    border-radius: 99999px;
    margin: 5px 10px;
    border: 0;
    text-align: center;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-btn{
    color: #6b6b6b;
    font-size: 1.4rem;
    cursor: pointer;
    margin-right: 10px;
}
.add-btn:hover{
    color: $lime-green;
}
.add-room-btn{
    width: 130px;
    height: 30px;
    position: absolute;
    right: 0px;
    cursor: pointer;
}