* {
    box-sizing: border-box;
}


body {
    background-color: $dark-gray;
}

<<<<<<< HEAD
.container {
    width: 992px;
    margin: 0 auto;
=======
.container{
    max-width: 992px;
>>>>>>> 4c6968278099457e37c2fb49b64bd7257e186953
}