* {
    box-sizing: border-box;
}

//APP
#app {
    display: flex;
    flex-direction: column;
}
// SCROLLBAR

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #242424; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #555; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888; 
}

body {
    background-color: $dark-gray;
}

.container {
    max-width: 992px;
    margin: 0 auto;
}