.add-song{
    background-color: black;
    margin-top: 7px;
    // margin-right: 7px;
    height: 496px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

}

.add-song-input{
    width: 250px;
    text-align: center;
    height: 30px;
    border-radius: 5px;
    background-color: $light-gray;
    color: $off-white;
    font-size: 18px;
}
.search-res{
    background-color: black;
    overflow: overlay;
}

.youtube-title {
    font-family: 'roboto-regular';
    color: white;
}

.playlist-wrapper {
    background-color: black;
<<<<<<< HEAD
    margin-top: 7px;
    // margin-right: 7px;
    height: 496px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
=======
    overflow: auto;
>>>>>>> 559c174ecbe2309f1564f7da1cada0c12086dfbd
}