.add-song-input{
    width: 250px;
    text-align: center;
    height: 30px;
    border-radius: 5px;
    background-color: $light-gray;
    color: $off-white;
    font-size: 18px;
}

.search-res{
    background-color: black;
    overflow: overlay;
}


.playlist-wrapper {
    background-color: black;
    overflow: auto;
}

