.add-song{
    background-color: black;
    margin-top: 7px;
    margin-right: 7px;
    height: 52vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.add-song-input{
    width: 250px;
    text-align: center;
    height: 30px;
    border-radius: 5px;
    background-color: $light-gray;
    color: $off-white;
    font-size: 18px;
}
.search-res{
    background-color: black;
    overflow: overlay;
    width: 100%;
    margin-left: 10px;
}

.youtube-title {
    font-family: 'roboto-regular'
}