.chat-container{
    grid-area: 2/2/span 2/2;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    
    @media screen and (max-width:840px) {
        position: fixed;
        right: -400px;
        opacity: 0;
        height: calc( 100vh - 60px );
        width: 40vw;
        transition: all .8s;
    }
}

.show-chat {
    opacity: 1;
    right:  0px;

    @media screen and (max-width:650px) {
        width: 50vw;
    }
    @media screen and (max-width:450px) {
        width: 100vw;
    }
}

.chat-input{
    height: 50px;
    width: 80%;
    border-radius: 15px;
}

.chat-title{
    color: $lime-green;
    font-family: roboto-medium;
    text-align: start;
    margin: 25px;
}
.chat-form{
    text-align: center;
}

.chat-txt-container{
    text-align: start;
}
.chat-txts{
    flex: 1;
    overflow: auto;
}

.chat-txt{
    margin: 0 25px;
    color: $off-white;
    word-break: break-all;

}
.chat-line{
    background-color: #99cc00;
    height: 1px;
    width: 80%;
    margin: 20px auto;
    
}
.chat-user{
    font-family: roboto-bold;
    color: $lime-green;
    transition: all .3s;

}

.other-chat-user{
    font-family: roboto-bold;
    color: $pink;
    transition: all .3s;

}
.chat-user:hover, .other-chat-user:hover{
    color: $off-white;
    cursor: pointer;
}
.guest-chat-user{
    font-family: roboto-bold;
    color: $off-white;
}

.toggle-chat-btn{
        display: none;
        background-color: #99cc00;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
        position: fixed;
        border: 2px solid white;
        top: 88%;
        right: 15px;
        font-size: 1.5em;
        transition: all .7s;
        @media screen and (max-width:840px) {
            display: flex;
            }
}


.toggle-chat-btn.chat-open {
    top:70px;
}
