@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");


.nav {
    display: flex;
    background-color: black;
    flex: 0 0 50px;
    transition: all .5s;
    margin-bottom: 10px;
}
.nav-container{
    width: 100%;
    padding: 16px;
}
.nav-logo {
    cursor: pointer;    
}

.nav-link {
    display: flex;
    list-style-type: none;
    position: relative;
}

.nav li {
    font-family: 'roboto-bold';
    text-transform: uppercase;
    color: $off-white;
    letter-spacing: 3px;
    cursor: pointer;
    margin-left: 35px;
    @media screen and (max-width: 940px) {
        margin-left: 10px;
    
    }
   
}

.nav li:hover {
    color: $lime-green;
}
.all-results{
    font-size: 10px;
    color: $lime-green;
}
.search {
    position: relative;
}

.search input {
    font-family: 'roboto-regular';
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-indent: 30px;
    background-color: $dark-gray;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    padding-right:20px;
    color: $off-white;
}


.search .fa-search { 
  position: absolute;
  top: 4px;
  left: 6px;
  font-size: 25px;
  color: $light-gray;
}

.search input:focus {
    outline: 0;
    border: 2px solid $lime-green;
    border-radius: 5px;
    +.fa-search{
        color: $lime-green;
    }
}

.rooms-results{
    position: absolute;
    top: 30px;
    width: 100%;
    background-color: #262626;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 10px 0;
    border: 2px solid #99cc00;
    border-top: 0;
    z-index: 2;
    max-height: 200px;
    overflow: hidden;
    li{
        margin: 10px;
    }
}

.genres{
    background-color: black;
    padding: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    position: absolute;
    top: 45px;
    text-align: center;
    z-index: 2;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 450px;
}
.genre{
    margin-right: 10px;
    color: $lime-green;
    text-decoration: none;
    transition: all .3s;
    margin-bottom: 10px;

}
.genre:hover{
    color: $off-white;
}
.start-navbar{
    background: transparent;
    li {
        color: black;
    }
    .rooms-results li {
        color: $off-white;
    }
}
.home-nav-bar{
    position: fixed;
    width: 100vw;
    z-index: 10;
    height: 50px;
}
.navbar-icon{
    display: none;
    @media screen and (max-width: 940px) {
        display: unset;
        
    }
}

.navbar-txt{
    @media screen and (max-width: 940px) {
        display: none;
    }
}

