.room-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 210px;
    height: 300px;
    margin: 0 25px 25px 0;
    background-color: $light-gray;
    color: black;
  }

  .room-item-link{
    cursor: pointer;
  }

  .room-item-youtube-img {
    width: 200px;
    height: 150px;
    margin-top: 5px;
    -webkit-clip-path: inset(14% 4% 15% 5%);
    clip-path: inset(14% 4% 15% 5%);
  }

  .room-item-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: black;
  }

  .room-item-name{
    font-family: 'roboto-bold';
    text-align: center;
    margin: 10px 0;
    font-size: 1.5em;
    transition: all .3s;
  }

  .room-item-name:hover{
    color:$pink;
  }

  .room-icons{
    display: flex;
    margin-bottom: 10px;

  }

  .room-item-genre {
    font-family: 'roboto-medium';
    width: 80px;
    padding: 2px;
    text-transform: capitalize;
    margin: 0;
    font-size: 0.9em;
  }
  .room-item-icon{
    margin-left: 2px; 
  }
  .room-icon-img {
    width: 20px;
    height: 20px;
  }
  .room-item-count {
    font-size: 0.7em;
  }

  .now-playing {
    font-family: 'roboto-medium';
    font-size: 0.8em;
    color: $off-white;
    align-self: flex-start;
    margin: 5px 0 5px 5px;
  }

  .song-title {
    font-family: 'roboto-thin';
    font-size: 1em;
    color: $off-white;
    align-self: baseline;
    overflow: hidden;
    margin: 10px;
    line-height: 30px;
  }

