.song-item {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 5px;
    background-color: $light-gray;
    color: black;
  }
  .youtube-img {
    height: 65px;
  }

  .youtube-title{
    margin: 0 15px;
  }