.top-roms-header {
  padding: 10px 0;
<<<<<<< HEAD
  justify-content: space-between;
  // max-width: 80%;
=======
>>>>>>> 559c174ecbe2309f1564f7da1cada0c12086dfbd

  h1 {
    font-family: 'roboto-thin';
    font-size: 2em;
    text-transform: uppercase;
    color: $off-white;
  } 

  button {
    background: transparent;
    color: $off-white;
    border:0;
    margin: 0;
  }
}

